body{
    margin: 0;
    padding: 0;
}

nav.nav-list{
   display: flex;
}

ul.nav.li.a{
    list-style: none;
    padding: 20px 30px;
    
}
.nav li a{
    list-style: none;
    padding: 26px 36px;
}

.div box{
    display: block;
    margin-left: 30px;
}